/ObsidianCS/Frances
/ObsidianCS/README.md
/ObsidianCS/ObsidianCS/.obsidian/workspace.json
/ObsidianCS/.obsidian/workspace.json
ObsidianCS/.obsidian/workspace.json
/ObsidianCS/ObsidianCS/.obsidian/workspace.json
ObsidianCS/.obsidian/workspace.json

workspace.json